
/*
#4c515a
#ef946c
#c4a77d
#70877f
#820a48
*/

@keyframes navanimate
{


}

:root
{
	--border: 5px; 
	--outline: 5px; 
	--margin: 20px;
	--padding: 10px; 

	--navigator:#4B4755;
	--text: #19151A;


	--primary: #1F9212;
	--secondary: #2B718B;
	--tritary: rgb(0, 255, 213);

	--heading: white;

}

html, body
{
	height: 100%;
	width: 100%;
}

body
{
	background-color: var(--primary);
	display: grid;
	grid-template-rows: 1fr 8fr 1fr;
}

nav
{
	background-color: var(--navigator);
	font-size: 30px;
	display: grid;
	grid-template-columns: repeat(10,1fr);
	max-width: 100%;
	max-height: 34.5px;
	
}

.nav-element
{
	/* padding: 10px 10px 10px 10px; */
	text-align: center;
	overflow: initial;
	max-height: 150px;
	max-width: 100%;
	align-self: flex-end;
	
}

.nav-element button
{
	text-align: center;
	width: 100%;
	border-radius: 40px 40px 0px 0px;
	border: 0px;
	border-style: outset;
}

#main-button
{
	background-color: #1F9212;
}

#project-button
{
	background-color: var(--secondary);
}

#contact-button
{
	background-color: var(--tritary);
}

.nav-element img
{	
	height: 100%;
	width: 100%;
	max-height: 25px;
	max-width: 25px;

	object-fit: scale-down;
}

.project-card
{
	max-width: 500px;
	max-height: 800px;
	background-color: white;
	padding: var(--padding);
	box-shadow: 0 8px 12px 0 rgba(14, 14, 14, 0.9);
}

.project-card img
{
	height: 100%;
	width: 100%;
	max-width: 800px;
	max-height: 500px;
}

.project-card p
{
	font-size: 15px;
}

.project-card button
{
	color: white;
	font-size: 40px;
	background-color: blue;
	height: 100%;
	width: 100%;
	display: inline-block;
	padding:var(--padding);
	border-radius: 500px;
}
main 
{
	height: calc(100% - 2 * var(--margin) - 2*(var(--padding)));
	width: calc(100% - 2 * var(--margin) - 2*(var(--padding)));
	outline: var(--outline) ridge var(--primary);
	padding: var(--padding);
	margin: var(--margin);
	background-color: var(--primary);

}

.index-main
{
	display: grid;
	grid-template-columns: 2fr 8fr;
}

h1
{
	color: var(--heading);
	font-style: italic;
	font-size: 100px;
	text-align: center;
}

.index-main p 
{
	font-size: 45px;
	margin: 70px;
	color: var(--text);
}

footer
{
	width: calc(100% - 2* var(--border) - 2*var(--margin));
	height: 100px;
	background-color: var(--primary);
	font-size: 2em;

	border-top: var(--border) outset var(--primary);
	margin: var(--margin);

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;

}